# Core dependencies
torch>=1.10.0
transformers>=4.30.0
librosa>=0.9.0
pyyaml>=6.0
numpy>=1.20.0
sacremoses

# Audio processing
soundfile>=0.12.1

# For downloading datasets (optional)
datasets>=2.10.0

# For video processing (optional)
ffmpeg-python
